body, html{
    height: 100%;
    font-family: 'Josefin Sans', sans-serif;
}

/* 
    font-family: 'Dancing Script', cursive;
    font-family: 'Josefin Sans', sans-serif;
*/


/* Landing section styling => Social icons,Navbar,Catchy image, Intro */
    /* Social-icons */
        .social-section{
            background-color: black;
        }

        .social-icons{
            height: 3vh;
            width: 2vw;
            padding: 4px;
        }

    /* Landing-page */
        .landing-page{
            background-image: url("https://media.gettyimages.com/photos/marinara-pizza-picture-id184969517?k=20&m=184969517&s=612x612&w=0&h=1WZrhrdn_XlcurBfeX-F8eGncG6cDHxwTSoSfBcdJng=");
            background-repeat: no-repeat;
            background-size:cover;
            background-position: center;
            height: 90%;
            width: 100%;
        }

        .intro{
            padding: 14vh 25vw 6vh;
        }

        .intro-btn-main{
            padding: 1vh 30vw;
        }
        
        .intro-button{
            background-color: #E45826;
            color: white;
            font-weight: bold;
            border: white solid 1px !important;
            padding: 4px 8px;
            margin: 1vw;
        }

        .intro-txt{
            color: white;
            font-weight: 900;
            font-size: 6vw;
            text-align: left;
            line-height: 8px;
        }

        #intro-slice{
            text-align: right;
        }

        .intro-txt-life{
            color: white;
            font-weight: 900;
            font-size: 12vw;
            font-family: 'Dancing Script', cursive;
            text-align: center;
            letter-spacing: 3vw;
        }

        /* Navigation bar */
        .navigation-bar{
            background-color: #E45826 !important;
            opacity: 0.7;
        }

        .logo{
            height: 7vh;
            width: 6vw;
        }

        .navbar-brand-logo{
            padding: 0 !important;
        }

    /* Order now section */
    .order-now{
        padding: 2em;
        background-color: black;
    }

    .order-now-two{
        background-color: white;
        width: 50%;
        padding: 0.5vh;
        margin: 0 auto;
    }

    .order-now-image{
        height: 10vh;
        width: 10vw;
        float: right;
    }

    #order-txt{
        font-family: 'Dancing Script', cursive;
        font-size: 5vw;
    }

    #online-txt{
        padding: 0 1vw;
        color: #E45826;
        font-weight: bold;
    }
        

