body, html{
    height: 100%;
    font-family: 'Josefin Sans', sans-serif;
}

/* 
    font-family: 'Dancing Script', cursive;
    font-family: 'Josefin Sans', sans-serif;
*/


/* Landing section styling => Social icons,Navbar,Catchy image, Intro */
    /* Social-icons */
        .social-section{
            background-color: black;
        }

        .social-icons{
            height: 3vh;
            width: 2vw;
            padding: 4px;
        }

    /* Landing-page */
        .landing-page{
            background-image: url("https://media.gettyimages.com/photos/marinara-pizza-picture-id184969517?k=20&m=184969517&s=612x612&w=0&h=1WZrhrdn_XlcurBfeX-F8eGncG6cDHxwTSoSfBcdJng=");
            background-repeat: no-repeat;
            background-size:cover;
            background-position: center;
            height: 90%;
            width: 100%;
        }
        