/* Landing section styling => Social icons,Navbar,Catchy image, Intro */
    /* Social-icons */
        .social-section{
            background-color: black;
        }

        .social-icons{
            height: 3vh;
            width: 2vw;
            padding: 4px;
        }

    /* Landing-page */
        .landing-page{
            background-image: url("https://media.istockphoto.com/photos/pepperoni-pizza-on-wooden-table-picture-id1301482898?b=1&k=20&m=1301482898&s=170667a&w=0&h=XLgT9kG_7_n02S-YzOY71EzcGgqBnY-GukEfhjOui64=");
            background-repeat: no-repeat;
            background-size: cover;
            height: 90vh;
            width: 100%;
        }
        